//  WordPress Generated Classes

// Media alignment
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}

.aligncenter {
  display: block;
  margin: ($spacer / 2) auto;
  height: auto;
}

.alignleft,
.alignright {
  margin-bottom: ($spacer / 2);
  height: auto;
}

@include media-breakpoint-down(md) {
  .alignleft {
    max-width: 100%;
    width: calc(100% - 50px);
  }

  .alignright {
    max-width: 100%;
    width: calc(100% - 50px);
  }
}

@include media-breakpoint-up(md) {
  .alignleft {
    float: left;
    margin-right: ($spacer / 2);
  }

  .alignright {
    float: right;
    margin-left: ($spacer / 2);
  }
}

// Captions
.wp-caption {
  display: inline-block;
}

.wp-caption img {
  margin-bottom: $spacer / 2;
  line-height: 1;
  max-width: 100%;
  height: auto;
}

.wp-caption-text {
  font-size: 0.8rem;
  color: $gray-color;
}

// Text meant only for screen readers
.screen-reader-text {
  @include screen-reader-text;
}

// Elements
hr,
.wp-block-separator {
  margin: 2em auto;
  max-width: 300px;
  width: 100%;
}

p.has-drop-cap:not(:focus)::first-letter {
  font-family: 'Baskerville', Arial, Helvetica, sans-serif;
  font-size: 5.5rem;
  font-weight: 400;
  color: $primary-color;
}
