// WPL main style
@import "variable";
@import "mixin";
@import "wp-classes";

// Service
.wpl-service {
  padding: 2rem 0;

  .wpl-service-header {
    p, li {
      margin-bottom: 0.5em;
    }

    h1 {
      font-size: 4rem;
      line-height: 4rem;
      margin: 0.5em 0;
    }

    h2 {
      font-size: 3rem;
      line-height: 3rem;
      margin: 0.5em 0;
    }

    h3 {
      font-size: 2.5rem;
      line-height: 2.5rem;
      margin: 0.5em 0;
    }

    h4 {
      font-size: 1.8rem;
      line-height: 1.8rem;
      margin: 0.5em 0;
    }

    h5, h6 {
      font-size: 1.6rem;
      line-height: 1.6rem;
      margin: 0.5em 0;
    }
  }

  .service-lists {
    padding: 2rem 0;

    .service-card {
      .service-icon,
      .service-title,
      .service-text {
        text-align: center;
      }

      .service-title * {
        color: $primary-color;
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin-bottom: 0.5em;
      }
    }
  }

}

// Center page
.wpl-center-page {
  .wpl-center-page-image-wrapper {
    position: relative;

    img {
      width: 100%;
    }

    .wpl-center-page-image-title {
      position: absolute;
      padding: 0 1rem;
      left: 0;
      right: 0;
      text-align: center;
      color: $white-color;
      font-size: 2rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .wpl-center-page-container {
    padding: 2rem 0;
  }

  .wpl-center-page-image-button-wrapper {
    img {
      width: 100%;
    }
  }

}

// Benefits
.wpl-benefits {
  padding: 4rem 0;

  .wpl-benefits-header,
  .wpl-benefits-cta {
    text-align: center;
  }

  .wpl-benefits-list-wrapper {
    padding: 2rem 0;
  }

  ul.benefit-lists {
    counter-reset: benefit-counter;
    padding: 0;
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    li.benefit-item {
      font-family: "Libre Baskerville", Arial, serif;
      counter-increment: benefit-counter;
      flex: 1 0 50%;
      margin-bottom: 1em;
      position: relative;
      padding-left: 4rem;
      padding-right: 2rem;

      &::before {
        background-color: $primary-color;
        content: "." counter(benefit-counter);
        color: $white-color;
        font-weight: bold;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 1.5rem;
        position: absolute;
        left: 10px;
        top: 20px;
      }
    }
  }

  .wpl-benefits-header {
    h1 {
      font-size: 3rem;
      line-height: 3rem;
      margin: 0.5em 0;
    }

    h2 {
      font-size: 2.5rem;
      line-height: 2.5rem;
      margin: 0.5em 0;
    }

    h3 {
      font-size: 2rem;
      line-height: 1.8rem;
      margin: 0.5em 0;
    }

    h4 {
      font-size: 1.8rem;
      line-height: 1.8rem;
      margin: 0.5em 0;
    }

    h5, h6 {
      font-size: 1.6rem;
      line-height: 1.6rem;
      margin: 0.5em 0;
    }
  }

}


// Testimonials
.wpl-testimonials {
  padding: 2rem 0;

  .wpl-testimonials-container {
    padding: 4rem 15px;
  }

  .wpl-testimonials-title h2 {
    text-align: center;
    font-size: 1.8rem;
    line-height: 2rem;
  }

  #testimonials-list {
    .testimonial {
      position: relative;
    }

    .owl-item {
      padding-top: 1rem;

      .testimonial-card {
        .testimonial-item-text {
          padding-top: 2rem;
          width: 620px !important;
          position: relative;
          left: 50% !important;
          text-align: center;
          visibility: hidden;
          margin: 0 -310px !important;
          opacity: 0;
          transition: all 300ms ease 0s;
          -webkit-transition: all 300ms ease-in-out;
          -moz-transition: all 300ms ease-in-out;
        }

        cite {
          color: $primary-color;
        }

      }

      .testimonials-avatar {
        padding: 4px;
        width: 100px;
        height: 100px;
        margin: 0 auto;
        transition: all 300ms ease 0s;
        -webkit-transition: all 300ms ease 0s;
        -moz-transition: all 300ms ease 0s;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        padding: 2px;
        background: $light-gray-color;
        margin: 0 auto;
        max-width: 100px;
      }

      &.center {
        .testimonial .testimonials-avatar {
          padding: 3px;
          transform: scale(1.4);
          -webkit-transform: scale(1.4);
          -moz-transform: scale(1.4);
        }

        img {
          padding: 4px;
          background: $primary-color;
        }

        .testimonial-card {
          .testimonial-item-text {
            visibility: visible;
            opacity: 1;
          }
        }

        .testimonials-avatar {
          position: relative;
          padding: 1rem 0;

          &::before,
          &::after {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            right: 0;
            left: 0;
            bottom: -15px;
            margin: 0 auto;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid $primary-color;
            border-bottom: 10px solid transparent;
          }
        }
      }
    }
  }


  .wpl-testimonials-list-wrapper {
    max-width: 768px;
    margin: 0 auto;
    padding: 0;
  }

  .owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    .owl-next,
    .owl-prev {
      position: absolute;

      .fa {
        font-size: 1.9rem;
        color: $gray-color;
      }
    }

    .owl-prev {
      left: 0;
    }

    .owl-next {
      right: 0;
    }
  }

}

// Footer
.wpl-footer {
  min-height: 250px;

  .wpl-footer-container {
    padding: 2rem 0 4rem 0;
  }

  input,
  select,
  textarea {
    color: $gray-color;
  }

  .wpl-footer-title {
    padding: 2rem 15px;
    text-align: center;
    font-size: 1.5rem;
  }

  .wpl-form {
    .wpl-submit {
      text-align: center;
      position: relative;
      padding: 0.6rem 15px;

      .wpl-submit-wrap {
        position: relative;
        max-width: 310px;
        margin: 0 auto;
      }
    }

    .wpcf7-submit {
      margin-top: 1em;
      max-width: 300px;
      background-color: $dark-gray-color;
      color: $white-color;

      + .ajax-loader {
        position: absolute;
        display: none;
        top: 36%;
        right: 15px;
        opacity: 0;
        transition: all 300ms ease-in-out;
        -webkit-animation: fa-spin 2s infinite linear;
        animation: fa-spin 2s infinite linear;

        &.is-active {
          display: block;
          opacity: 1;
        }

        &::before {
          content: '\f110';
          font-family: "Font Awesome 5 Free", sans-serif;
          font-weight: 900;
          color: $white-color;
          font-size: 1.2rem;
        }
      }
    }

    input,
    select,
    textarea {
      width: 100%;
      margin-bottom: 1em;
      height: 44px;
      border-radius: 1em;
      border: 0;
      padding: 0.6rem;
      color: $gray-color;
    }

    textarea {
      min-height: 180px;
    }
  }

  .wpcf7 {
    .screen-reader-response {
      @include screen-reader-text;
    }

    .wpcf7-display-none {
      display: none;
    }

    form.wpcf7-form {
      .wpcf7-not-valid-tip {
        background-color: red;
        color: $white-color;
        display: block;
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border-radius: 1em;
      }

      .wpcf7-response-output {
        padding: 1rem;
        border-radius: 1em;

        &.wpcf7-validation-errors {
          background-color: red;
          color: $white-color;
        }

        &.wpcf7-mail-sent-ok,
        &.wpcf7-validation-success {
          background-color: green;
          color: $white-color;
        }
      }
    }
  }

  .wpl-colophon {
    background-color: $black-color;
    padding: 1rem 0;

    p {
      color: $white-color;
      margin: 0;
      padding: 0.5rem;
      text-align: center;
      font-size: 0.8rem;

      a {
        color: $white-color;
      }
    }
  }
}

// Edit link
#wpl_edit_landing {
  position: fixed;
  right: 10px;
  bottom: 27px;

  a.wpl-edit-landing-link {
    padding: 0.8rem 1rem;
    background: $dark-gray-color;
    color: $white-color;

    &:hover {
      background: $primary-color;
      text-decoration: none;
    }

    &::after {
      content: '\f044';
      font-family: "Font Awesome 5 Free", sans-serif;
      font-weight: 400;
      color: $white-color;
      margin-left: 5px;
      vertical-align: text-top;
    }
  }
}

// Media Query
@include media-breakpoint-up(xl) {
  .wpl-center-page .wpl-center-page-image-wrapper .wpl-center-page-image-title {
    font-size: 2.4rem;
  }
}

@include media-breakpoint-down(lg) {
  .wpl-hero {
    min-height: 100%;
  }

  .wpl-benefits ul.benefit-lists {
    display: block;

    li.benefit-item::before {
      top: 0;
      font-size: 1.1rem;
    }
  }
}

@include media-breakpoint-up(md) {
  .wpl-doc-wrapper .wpl-hero-container {
    .wpl-hero-text {
      padding: 2rem 0;
    }

    .wpl-hero-text h2 {
      font-size: 2.5rem;
      line-height: 2.5rem;
    }
  }

  .wpl-benefits .wpl-benefits-header h2 {
    font-size: 1.9rem;
    line-height: 1.9rem;
  }

  .wpl-testimonials #testimonials-list .owl-item.center .testimonial-item-text {
    width: auto;
    left: auto;
    margin: 0 auto;
  }

  .wpl-footer .wpl-footer-title {
    font-size: 1rem;
  }
}

@include media-breakpoint-between(sm, md) {
  .wpl-center-page .wpl-center-page-image-wrapper .wpl-center-page-image-title {
    font-size: 1.3rem;
  }
}

@include media-breakpoint-between(xs, sm) {
  .wpl-footer .wpl-form .wpcf7-submit + .ajax-loader {
    position: relative;
    right: 0;
    left: 0;
    top: 0;
  }

  .wpl-doc-wrapper .wpl-hero-container .wpl-hero-text h2 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .wpl-center-page .wpl-center-page-image-wrapper .wpl-center-page-image-title {
    font-size: 1rem;
  }
}
